### Import libraries

In [30]:
import pandas as pd
import numpy as np
import sqlite3
import os
import holidays as h

## 1. SQL Query Analysis

This query is designed to extract all necessary raw data from 8 different tables and combine them into a single, clean table for analysis.
Here are the key logical decisions:
1. `WITH` Clauses (CTEs): Before the main query, two temporary "mini-tables" (`items_agg` and `payments_agg`) were created using Common Table Expressions.
* Why? The `order_items` and `order_payments` tables have a one-to-many relationship with `orders` (one order can have many items). A simple `JOIN` would cause massive data duplication (a "fan-out"), making all `SUM()` calculations incorrect.
* Solution: We first pre-aggregate (using `SUM()` and `GROUP BY`) these tables to get a single row per order_id, which we can then safely join.

2. `LEFT JOIN`: The main query uses `LEFT JOIN` instead of a standard `INNER JOIN`.
* Why? Our goal is to analyze all delivered orders from the main `olist_orders_dataset table`.
Problem: If we used an `INNER JOIN`, any order that was missing a review (or a customer record) would be dropped from our analysis. This would skew our results.
* Solution: `LEFT JOIN` ensures that we keep all rows from the "left" table (`olist_orders_dataset`) and simply fill in `NULL` values for any missing data from the "right" tables (like `review_score`).

3. `WHERE` Clause: The query filters for `order_status = 'delivered'` and checks for `IS NOT NULL`.
* Why? We can only analyze customer satisfaction on orders that were actually completed. Filtering out canceled or shipped orders, as well as rows with missing data, ensures our final dataset is clean and relevant to the business problem.

In [2]:
current_dir = os.getcwd()
big_dir = os.path.dirname(current_dir)
path_db = os.path.join(big_dir, 'data', 'interim', 'olist_database.db')
conn = sqlite3.connect(path_db)
print(f"Connected to database at: {path_db}")

main_query = """
WITH
items_agg AS (
    SELECT
        order_id,
        SUM(price) AS total_product_price,
        SUM(freight_value) AS total_freight_value
    FROM olist_order_items_dataset
    GROUP BY order_id
),

payments_agg AS (
    SELECT
        order_id,
        SUM(payment_value) AS total_payment_value,
        GROUP_CONCAT(payment_type, ', ') AS payment_types
    FROM olist_order_payments_dataset
    GROUP BY order_id
)

SELECT
    -- Ключі
    o.order_id,
    o.customer_id,

    -- Дати
    o.order_purchase_timestamp,
    o.order_delivered_customer_date,
    o.order_estimated_delivery_date,

    -- Клієнт
    c.customer_city,
    c.customer_state,

    -- Відгук
    r.review_score,

    -- Гроші (з WITH-таблиць)
    i.total_product_price,
    i.total_freight_value,
    p.total_payment_value,
    p.payment_types
    
FROM
    olist_orders_dataset AS o
LEFT JOIN
    olist_order_reviews_dataset AS r ON o.order_id = r.order_id
LEFT JOIN
    olist_customers_dataset AS c ON o.customer_id = c.customer_id
LEFT JOIN
    items_agg AS i ON o.order_id = i.order_id  
LEFT JOIN
    payments_agg AS p ON o.order_id = p.order_id 

WHERE
    o.order_status = 'delivered'
    AND o.order_delivered_customer_date IS NOT NULL
    AND o.order_purchase_timestamp IS NOT NULL
    AND o.order_estimated_delivery_date IS NOT NULL
    AND i.total_product_price IS NOT NULL
    AND i.total_product_price > 0
;
"""


print("Executing main SQL query... Це може зайняти хвилину...")
df_main = pd.read_sql_query(main_query, conn)

conn.close()
print(f"Successfully loaded and transformed data! Created DataFrame with {len(df_main)} rows.")

df_main.head()

Connected to database at: d:\my_projects\project_Brazilian_ECommerce_by_Olist\data\interim\olist_database.db
Executing main SQL query... Це може зайняти хвилину...
Successfully loaded and transformed data! Created DataFrame with 96999 rows.

,order_id,customer_id,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,review_score,total_product_price,total_freight_value,total_payment_value,payment_types
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-10 21:25:13,2017-10-18 00:00:00,sao paulo,SP,4.0,29.99,8.72,38.71,"credit_card, voucher, voucher"
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-08-07 15:27:45,2018-08-13 00:00:00,barreiras,BA,4.0,118.70,22.76,141.46,boleto
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-17 18:06:29,2018-09-04 00:00:00,vianopolis,GO,5.0,159.90,19.22,179.12,credit_card
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-12-02 00:28:42,2017-12-15 00:00:00,sao goncalo do amarante,RN,5.0,45.00,27.20,72.20,credit_card
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-16 18:17:02,2018-02-26 00:00:00,santo andre,SP,5.0,19.90,8.72,28.62,credit_card

## 2. Data Transformation & Enrichment

### Data Preparation & Feature Engineering

Before proceeding to the EDA phase, we performed the following steps to prepare our dataset:

1.  **Data Inspection & Type Conversion:**
    * Used `.info()` and `.describe()` to examine data types and distributions.
    * Converted date columns (`purchase_timestamp`, `delivered_customer_date`, etc.) from `object` to `datetime` format to enable temporal calculations.

2.  **Feature Engineering:**
    * Calculated **Delivery Time**: The actual number of days it took to deliver the order.
    * Created **Is Late**: A binary flag indicating if the delivery exceeded the estimated date.
    * Calculated **Freight Ratio**: The ratio of shipping cost to the product price.

3.  **Data Enrichment:**
    * Used the `holidays` library to create a new column identifying orders placed on Brazilian national holidays.

In [43]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

print(df_main.info())
print(df_main.describe().T)

df_main['order_purchase_timestamp'] = pd.to_datetime(df_main['order_purchase_timestamp'], errors='coerce')
df_main['order_delivered_customer_date'] = pd.to_datetime(df_main['order_delivered_customer_date'], errors='coerce')
df_main['order_estimated_delivery_date'] = pd.to_datetime(df_main['order_estimated_delivery_date'], errors='coerce')

df_main['time_to_deliver_days'] = (df_main['order_delivered_customer_date'] - df_main['order_purchase_timestamp']).dt.days

df_main['is_late'] = np.where(
    df_main['order_delivered_customer_date'] > df_main['order_estimated_delivery_date'],
    1,
    0
)

df_main['freight_to_price_ratio'] = np.where(
    df_main['total_freight_value'] / df_main['total_product_price'],
    np.nan,
    df_main['total_freight_value'] / df_main['total_product_price']
)

brazil_hol = h.Brazil(years=[2015,2016,2017,2018,2019])
df_main['is_holiday_purchase'] = df_main['order_purchase_timestamp'].dt.date.isin(brazil_hol).astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96999 entries, 0 to 96998
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96999 non-null  object
 1   customer_id                    96999 non-null  object
 2   order_purchase_timestamp       96999 non-null  datetime64[ns]
 3   order_delivered_customer_date  96999 non-null  datetime64[ns]
 4   order_estimated_delivery_date  96999 non-null  datetime64[ns]
 5   customer_city                  96999 non-null  object
 6   customer_state                 96999 non-null  object
 7   review_score                   96353 non-null  float64
 8   total_product_price            96999 non-null  float64
 9   total_freight_value            96999 non-null  float64
 10  total_payment_value            96998 non-null  float64
 11  payment_types                  96998 non-null  object
 12  time_to_deliver_days           96999 non-null  int64
 13  is_late                        96999 non-null  int64
 14  freight_to_price_ratio         336 non-null    float64
 15  is_holiday_purchase            96999 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(3), object(5)
memory usage: 11.8+ MB
None
                                 count                           mean  \
order_purchase_timestamp         96999  2018-01-01 15:26:00.748079872
order_delivered_customer_date    96999  2018-01-14 04:58:15.062763520
order_estimated_delivery_date    96999  2018-01-25 09:20:28.651841792
review_score                   96353.0                       4.155688
total_product_price            96999.0                     136.894065
total_freight_value            96999.0                      22.780639
total_payment_value            96998.0                     159.704063
time_to_deliver_days           96999.0                      12.099537
is_late                        96999.0                       0.081083
freight_to_price_ratio           336.0                            0.0
is_holiday_purchase            96999.0                       0.015299

                                               min  \
order_purchase_timestamp       2016-09-15 12:16:38
order_delivered_customer_date  2016-10-11 13:46:32
order_estimated_delivery_date  2016-10-04 00:00:00
review_score                                   1.0
total_product_price                           0.85
total_freight_value                            0.0
total_payment_value                           9.59
time_to_deliver_days                           0.0
is_late                                        0.0
freight_to_price_ratio                         0.0
is_holiday_purchase                            0.0

                                                      25%  \
order_purchase_timestamp              2017-09-13 19:55:13
order_delivered_customer_date  2017-09-25 20:11:17.500000
order_estimated_delivery_date         2017-10-05 00:00:00
review_score                                          4.0
total_product_price                                  45.9
total_freight_value                                 13.85
total_payment_value                                 61.84
time_to_deliver_days                                  6.0
is_late                                               0.0
freight_to_price_ratio                                0.0
is_holiday_purchase                                   0.0

                                               50%  \
order_purchase_timestamp       2018-01-20 13:10:45
order_delivered_customer_date  2018-02-02 16:09:06
order_estimated_delivery_date  2018-02-16 00:00:00
review_score                                   5.0
total_product_price                           86.0
total_freight_value                          17.17
total_payment_value                         105.23
time_to_deliver_days                          10.0
is_late                                        0.0
freight_to_price_ratio                         0.0
is_holiday_purchase                            0.0

                                                      75%  \
order_purchase_timestamp       2018-05-05 10:39:36.500000
order_delivered_customer_date  2018-05-15 20:03:15.500000
order_estimated_delivery_date         2018-05-28 00:00:00
review_score                                          5.0
total_product_price                                 149.9
total_freight_value                                 24.02
total_payment_value                                 176.2
time_to_deliver_days                                 15.0
is_late                                               0.0
freight_to_price_ratio                                0.0
is_holiday_purchase                                   0.0

                                               max         std
order_purchase_timestamp       2018-08-29 15:00:37         NaN
order_delivered_customer_date  2018-10-17 13:22:46         NaN
order_estimated_delivery_date  2018-10-25 00:00:00         NaN
review_score                                   5.0    1.284979
total_product_price                        13440.0  208.706054
total_freight_value                        1794.96   21.533334
total_payment_value                       13664.08  218.469338
time_to_deliver_days                         209.0    9.547594
is_late                                        1.0    0.272964
freight_to_price_ratio                         0.0         0.0
is_holiday_purchase                            1.0     0.12274